body {
  margin: 0;
}

a {
  color: white;
  
}

h1 {
  color: white;
  opacity: .1.0;
}
p {
  color: black;
  font-size: 12px;
}

h2 {
  color: darkcyan;
  font-size: 20px;
}


.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  overflow: scroll;
  overflow-x: hidden;
}

.left, .right {
  height: 100vh;
}

.resume {
  height: 100%;
  padding: 10px 25px;
  margin-bottom: 25px;
}

.profilepic {
  height: 100%;
  width: 100%;
  background: url("image/ResumePic.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  opacity: .7;
}

.color-overlay {
  background: linear-gradient(cyan, navy);
  height: 100%;
}

.socialmedia {
  display: flex;
  justify-content: space-between;
}

.socialmedia a {
  margin: 10px;
  font-size: 16px;
}

/* Mobile Stylings */
@media only screen and (max-width: 768px){
  .content{
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
  }

  .right {
    overflow: visible;
  }

  h1 {
    text-align: center;
  }
}